body {
  background-color: #111;
  color: #aaa;
  padding: 1rem 1.25rem;
  max-width: 42rem;
  margin: 20px auto;

  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  hyphens: auto;
  text-align: justify;
  line-height: 1.5;

  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAnZJREFUeF7tnNtxwzAMBOWC0kTKSgEpK02koOQ3oie6Od/pvf4VCAJLAISgGT8mflUCj6o2lE0ALQcBQO8O9Ovj7ecvg/fPbysoxvUjT1ffuN4ypnyYL6kD6EvY/l8EUIB6BNya5Mora1J9acTXa6jrkCsP0IHAeGsCVISIC8iVv32Eun2cAqyAtvtId7/VayhAwyNJb0kidDgAgM6BPL16qohxUzpMgCk9MHf/1H+AioxzLz2AAtQb1x0u5d2auXXNS4Ep/1x/ZMqrDUeHXANcIKm8a58rD1Ax8QeoOXtQGRgDTVPq7utP903p6AcG0PIJAXRroG5RLtu3uzrXfxmhrsLdCZQNcP0HaLnNAujeQN1xVjkDV1dXn4eqd3OALk+77JQHKECtMlFPedUmqOeW9QcUTv2zx3fphgdkODMp9Q+g4puSGu+NAQLQtYGqlEyLttK/9fO2P7JtunpfCtByCAP06kDdW7DMo65OtU3qeVxDATp/FQWo2TYRoWZRUMDUcxmh7VvQ9G9z8dRfgIqUd8eVAAXoulVg85S/WpukjkddQnLapN7dAVr+BAJQgKqsXnxeT/nImhsulm3TDZlELgM0wve8GKBbA3WLsitf9keqS+1T62WEKgVn61tdf1z/ABr+M9nYlwN0b6DuOEsWNSGQpmh7f+W/HaFKYeqAW7Pa+6n9lf8ANTMEoGEIu/NRGaGhPXK5MlgqGATcaVi7RgM0/IPX8cABCtDlInD6lHdrkKqZKRB1C7f3r6c8QOdI4xoKUIDO/rZdlQi3batHaGqgG/Guw2vLA7RMGKAALRMoq4sjtGzP6dUBtHyEAAVomUBZ3S8kNOBzPhAe0wAAAABJRU5ErkJggg==")
    28 / 28px / 0 round;
  border-width: 28px;
  border-style: solid;
  /* to keep content width constant with addition of border */
  box-sizing: content-box;
}

p:first-of-type:first-letter {
  font-family: gothic-pixel-font;
  float: left;
  font-size: 6.2rem;
  margin-bottom: -1rem;
  color: #be7a2d;

  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAnZJREFUeF7tnNtxwzAMBOWC0kTKSgEpK02koOQ3oie6Od/pvf4VCAJLAISgGT8mflUCj6o2lE0ALQcBQO8O9Ovj7ecvg/fPbysoxvUjT1ffuN4ypnyYL6kD6EvY/l8EUIB6BNya5Mora1J9acTXa6jrkCsP0IHAeGsCVISIC8iVv32Eun2cAqyAtvtId7/VayhAwyNJb0kidDgAgM6BPL16qohxUzpMgCk9MHf/1H+AioxzLz2AAtQb1x0u5d2auXXNS4Ep/1x/ZMqrDUeHXANcIKm8a58rD1Ax8QeoOXtQGRgDTVPq7utP903p6AcG0PIJAXRroG5RLtu3uzrXfxmhrsLdCZQNcP0HaLnNAujeQN1xVjkDV1dXn4eqd3OALk+77JQHKECtMlFPedUmqOeW9QcUTv2zx3fphgdkODMp9Q+g4puSGu+NAQLQtYGqlEyLttK/9fO2P7JtunpfCtByCAP06kDdW7DMo65OtU3qeVxDATp/FQWo2TYRoWZRUMDUcxmh7VvQ9G9z8dRfgIqUd8eVAAXoulVg85S/WpukjkddQnLapN7dAVr+BAJQgKqsXnxeT/nImhsulm3TDZlELgM0wve8GKBbA3WLsitf9keqS+1T62WEKgVn61tdf1z/ABr+M9nYlwN0b6DuOEsWNSGQpmh7f+W/HaFKYeqAW7Pa+6n9lf8ANTMEoGEIu/NRGaGhPXK5MlgqGATcaVi7RgM0/IPX8cABCtDlInD6lHdrkKqZKRB1C7f3r6c8QOdI4xoKUIDO/rZdlQi3batHaGqgG/Guw2vLA7RMGKAALRMoq4sjtGzP6dUBtHyEAAVomUBZ3S8kNOBzPhAe0wAAAABJRU5ErkJggg==")
    14 / 14px / 0 round;
  border-width: 14px;
  border-style: solid;

  line-height: 5rem;
  padding: 0.8rem 0 0 6px;
  margin-left: -8px;
}
p:first-of-type:first-line {
  font-family: gothic-pixel-font;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
p:first-letter {
  font-family: gothic-pixel-font;
  line-height: 0.8;
  font-size: 3.2rem;
  margin-bottom: -1rem;
}

@font-face {
  font-family: gothic-pixel-font;
  src: url("gothic-pixel-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Alkhemikal;
  src: url("Alkhemikal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: gothic-pixel-font;
  font-size: 120px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-align: center;
  position: relative;
  top: 0.5rem;
  color: #eee;
}

@media (max-width: 768px) {
  h1 {
    font-size: 80px;
  }

  body {
    border: none;
  }
}

.subtitle {
  font-family: Alkhemikal;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
}

.subsubtitle {
  font-family: Alkhemikal;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}

h2 {
  font-family: Alkhemikal;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  color: #eee;
  line-height: 1;
}

h3 {
  font-family: Alkhemikal;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  color: #eee;
}

.ml-1px {
  margin-left: 0.2rem;
}

.rubricated {
  color: #aa0000;
}

p,
ul,
figure,
.box {
  margin: 1.5rem 0;
}

figure {
  margin-left: auto;
  margin-right: auto;
}

.right-figure {
  float: right;
  max-width: 180px;
  margin: 0 0 20px 40px;
  clear: right;
}

.subsubtitle a {
  text-decoration: none;
  color: inherit;
}

a {
  color: #66c2ff;
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:focus {
  color: #99d6ff;
  text-decoration: underline;
}

.box {
  /* TODO: inline-block turns off margin collapse LOL */
  display: inline-block;
  background-image: url("parchment.jpg");
  background-color: rgba(0, 0, 128, 0.7);
  background-blend-mode: darken;
  padding: 1rem;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAnZJREFUeF7tnNtxwzAMBOWC0kTKSgEpK02koOQ3oie6Od/pvf4VCAJLAISgGT8mflUCj6o2lE0ALQcBQO8O9Ovj7ecvg/fPbysoxvUjT1ffuN4ypnyYL6kD6EvY/l8EUIB6BNya5Mora1J9acTXa6jrkCsP0IHAeGsCVISIC8iVv32Eun2cAqyAtvtId7/VayhAwyNJb0kidDgAgM6BPL16qohxUzpMgCk9MHf/1H+AioxzLz2AAtQb1x0u5d2auXXNS4Ep/1x/ZMqrDUeHXANcIKm8a58rD1Ax8QeoOXtQGRgDTVPq7utP903p6AcG0PIJAXRroG5RLtu3uzrXfxmhrsLdCZQNcP0HaLnNAujeQN1xVjkDV1dXn4eqd3OALk+77JQHKECtMlFPedUmqOeW9QcUTv2zx3fphgdkODMp9Q+g4puSGu+NAQLQtYGqlEyLttK/9fO2P7JtunpfCtByCAP06kDdW7DMo65OtU3qeVxDATp/FQWo2TYRoWZRUMDUcxmh7VvQ9G9z8dRfgIqUd8eVAAXoulVg85S/WpukjkddQnLapN7dAVr+BAJQgKqsXnxeT/nImhsulm3TDZlELgM0wve8GKBbA3WLsitf9keqS+1T62WEKgVn61tdf1z/ABr+M9nYlwN0b6DuOEsWNSGQpmh7f+W/HaFKYeqAW7Pa+6n9lf8ANTMEoGEIu/NRGaGhPXK5MlgqGATcaVi7RgM0/IPX8cABCtDlInD6lHdrkKqZKRB1C7f3r6c8QOdI4xoKUIDO/rZdlQi3batHaGqgG/Guw2vLA7RMGKAALRMoq4sjtGzP6dUBtHyEAAVomUBZ3S8kNOBzPhAe0wAAAABJRU5ErkJggg==")
    28 / 28px / 0 round;
  border-width: 28px;
  border-style: solid;
}

.question {
  font-family: Alkhemikal;
  font-size: 5rem;
  line-height: 1;
  float: left;
  margin-right: 1rem;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 0.5rem;
}

.game-link {
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  font-style: italic;
}

.game-link video {
  mix-blend-mode: lighten;
  height: 4rem;
}
